[Unit]
Description = scms 
After=network.target

[Service]
Type=simple
Environment=PYTHONBUFFERED=1
#ExecStartPre=/cleanup.sh
ExecStart=python3 scms.py
Restart=on-abort

[Install]
WantedBy=multi-user.target